<div class="row games-index">
  <div class="col-md-4 main-section">
    <a href="#" class="btn btn-primary btn-lg">New Game</a>
  </div>
  <div class="col-md-8 main-section">
    <h2 class="game-list-heading">Games List</h2>
    <ul class="game-list">
      <li>Game name goes here</li>
      <li>Game name goes here</li>
      <li>Game name goes here</li>
      <li>Game name goes here</li>
    </ul>
  </div>
</div>