<h2><%= @game.name %></h2>

<table class="board">
  <% @game.grid_size.times do |location_y| %>
    <tr>
      <% @game.grid_size.times do |location_x| %>
        <% cell = @game.cell_at(location_x, location_y) %>
        <% if cell.check? %>
          <% if cell.has_mine? %>
            <td><span class="bomb"></span></td>
          <% else %>
            <td><span class="checked"><%= cell.neighbouring_mines_count %></span></td>
          <% end %>
        <% else %>
          <td><%= link_to '', sweep_cell_path(cell), method: :post %></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>

<footer class="nav-footer">
  <a href="/" class="btn btn-default">back to all games</a>
</footer>