<h2>Game name goes here</h2>

<table class="board">
  <tr>
    <td><a href="#"></a></td>
    <td><a href="#"></a></td>
    <td><a href="#"></a></td>
    <td><a href="#"></a></td>
  </tr>
  <tr>
    <td><span class="checked">3</span></td>
    <td><a href="#"></a></td>
    <td><a href="#"></a></td>
    <td><a href="#"></a></td>
  </tr>
  <tr>
    <td><a href="#"></a></td>
    <td><a href="#"></a></td>
    <td><span class="bomb"></span></td>
    <td><a href="#"></a></td>
  </tr>
  <tr>
    <td><a href="#"></a></td>
    <td><a href="#"></a></td>
    <td><a href="#"></a></td>
    <td><a href="#"></a></td>
  </tr>
</table>

<footer class="nav-footer">
  <a href="/" class="btn btn-default">back to all games</a>
</footer>